# Gradle
.gradle/
build/

# allow screenshots in target
!target/test_screenshots/
!target/test_screenshots/*.png

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
*.log

# Ignore other output folders
out/
!**/src/main/**/out/
!**/src/test/**/out/

# PNG (ignore all except screenshots)
*.png
!target/test_screenshots/
!target/test_screenshots/*.png








